@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #F78C32; //#9733F5;
  border-top: 1px solid #F78C32;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid #F78C32; //#9733F5;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
  border: 1px solid #F78C32;
  border-radius: 10px;
}

.chatbar-username {
  flex: 2;
  border: 1px solid #F78C32;
  border-radius: 10px;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  border-left: 1px solid lightgrey;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #F78C32; //#9733F5;
  color: white;
  border-bottom: 1px solid #F78C32; //#9733F5;
  height: 70px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-logo {
  border-radius: 50px;
  background-color: white;
  height: 40px;
  width: 40px;
  float:left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
  margin-bottom: 3px;

}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 900;
  font-size: 50px;
  height: 60px;
  line-height: 60px;
  padding: 3px 10px;
  text-decoration: underline;
}

.navbar-subtitle {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 12px;
  height: 60px;
  line-height: 80px;
  padding: 0 10px;
  text-decoration: none;
}
